@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #fbfbfb;
  --color-secondary: #e8f9ff;
  --color-tertiary: #c4d9ff;

  --color-primary-dark: #363062;
  --color-secondary-dark: #435585;
  --color-tertiary-dark: #818fb4;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
